<div class="container mt-4">
  <div class="">
    <div class="d-flex">
      <div>
        <h1>Foods</h1>
      </div>
      <div class="ml-auto">
        <%= link_to 'New Food', new_food_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">User Type</th>
          <th scope="col">Food Type</th>
          <th scope="col">Status</th>
          <th scope="col">Assigned User</th>
          <th scope="col" colspan="3"> ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.phone %></td>
          <td><%= food.address %></td>
          <td><%= food.user_type %></td>
          <td><%= food.food_type %></td>
          <td><%= food.status ? 'assigned' : 'pending' %></td>
          <td><%= food.assigned_user %></td>
          <td><%= link_to 'Show', food, class: 'btn btn-outline-secondary btn-small' %></td>
          <td><%= link_to 'Edit', edit_food_path(food), class: 'btn btn-outline-primary btn-small' %></td>
          <td><%= link_to 'Destroy', food, class: 'btn btn-outline-danger btn-small', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% if !food.status && (food.user_type == 'Donate') && current_user.super_admin? %>
          <td><%= link_to 'Assign', assign_path(:id => food.id), class: 'btn btn-outline-success btn-small' %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>