<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="d-flex h-100 pr-md-5">
          <div class="align-self-center section-info">
            <h3>Food Detail</h3>
          </div>

        </div>
      </div>
      <div class="col-sm-5">
        <div class="hero-bg h-100"></div>
      </div>
    </div>
  </div>
</section>

<section class="highlight-card">
  <div class="container">
    <div class="">
      <p>
        <strong>Name:</strong>
        <%= @food.name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @food.email %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @food.phone %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @food.address %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @food.description %>
      </p>

      <p>
        <strong>User:</strong>
        <%= @food.user.first_name %>
      </p>
      <p>
        <strong>Food Type:</strong>
        <%= @food.food_type %>
      </p>
      <p>
        <strong>User Type:</strong>
        <%= @food.user_type %>
      </p>
      <p>
        <strong>Number of plates:</strong>
        <%= @food.number_of_plate %>
      </p>
      <p>
        <strong>Status:</strong>
        <%= @food.status ? 'assigned' : 'pending' %>
      </p>

      <%= link_to 'Edit', edit_food_path(@food) %> |
      <%= link_to 'Back', foods_path %>

    </div>
  </div>
</section>